* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', light;
  font-size: 24px;
}

a {
  text-decoration: none;
}

swiper-container{
  --swiper-theme-color: black !important;
  --swiper-pagination-bottom: 0px;
  /* height: 290px; */
}

.container {
  width: 100%;
  max-width: 1644px;
  margin: 0 auto;
  padding: 0 15px;  
}

h1 {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

strong {
  font-size: 24px;
  text-align: center;  
}

table, th, td {
  border: 1px solid black;
  text-align: center;
  font-size: 20px;  
}
.tablescroll {
	overflow-x: scroll;
}
thead {
  background-color: rgba(56, 52, 52, 0.5); 
}
th, td {
  padding: 5px;
}

tr:hover {
  background-color: gray;
}

table {
  margin: 30px 0  30px 0;
  overflow-x: scroll;
}

.btn {
  border: 3px solid #1e3a8a;
  padding: 14px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  flex: 1;
}

.btn:hover {
  color: white;
  background: #1e3a8a;
  transition: background-color 0.3s ease;
}